@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    font-size: 62.5%;
  }
   
body {
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
  
nav {
  width: 1440px;
  height: 75px;
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
nav ul {
  font-weight: 500;
  margin-left: 3rem;
  display: flex;
  gap: 8rem;
  list-style: none;
}
  
nav ul li a {
  display: flex;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.8rem;
  color: #272727;
}
  
.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

body {
  font-family: sans-serif;
}

main {
  padding: 10px;
}  
.meio {
  border-bottom: 20rem;
  width: 400px;
  margin: 0 auto;
}

.meio h1 {
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 5rem;
}

.meio a { 
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4;
  color: rgba(86, 178, 128, 1)
}
.info {
  width: 140rem;
  display: flex;
  align-items: center;
  gap:10rem;
  list-style: none;
  padding: 2.5rem 7rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.8rem;
  color: #272727;
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}

.product {
  margin-right: 73rem;
}

.produto {
  height: 15rem;
  border-bottom: 1px solid rgba(86, 178, 128, 0.2);
}
.imgproduto {
  width: 16rem;
  margin-top: 4rem; 
  margin-left: 7rem; 
  background: #F7F8FA;
}
.nomeproduto {
  margin-left: 27rem;
  align-items: center;
  justify-content:center;
  margin-top: -125px;
}

.nomeproduto p {
  color: rgba(86, 178, 128, 1);
  margin-top: 30px;
}


.preço{
  gap: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 2.5rem 35rem;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #272727;
  margin-left: 75rem;
  margin-top: -38px;
  }

  .quantidadeum{
    width: 2rem;
    border: #56B280;
    display: flex;
    border-color:#56B280;
  }
.baixo{
  margin-top: 2rem;
}

.total{
  margin-left: 95rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  width: 40rem;
  gap: 5rem;
  display: flex;
}

.total button{
  text-decoration: none;
  background-color: #56B280;
  color: #ffffff;   
  padding: 1.5rem 4rem;
  border: none; 
  border-radius: .4rem; 
  cursor: pointer;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.textocinza{
  margin-bottom: 2rem;
  margin-left: 86rem;
  font-size: small;
  width: 35rem;
  color:#9E9E9E;
}


.footer{
    width: 100%;
    height: 20rem;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areafooter{
    width: 80%;
    height: 70%;
}

.footerlinha{
    width: 100%;
    height: .1rem;
    border-radius: 1rem;
    background-color: white;

}

.footer-box-content{
  display: flex;
  justify-content: space-between;
}

.footerlogo p{
    font-family: 'Poppins';
    color: white;
    font-weight: 400;
    font-size: 1em;
}

.footerlinks{
    width: 60%;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    padding-top: 2rem;
}

.footerlinks div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 9rem;
}

.footerlinks div h4{
    font-family: 'Poppins';
    font-weight: 200;
    color: #56B280;
}

.footerlinks div p{
    font-family: 'Poppins';
    font-weight: 200;
    color: white;
}
