@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #272727;  
}

main {
    display: flex;
}

nav {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 10rem;
}

.esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem 7rem 0rem 10rem;
}

.historico {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    gap: .9rem;
    padding: 0rem 0rem 3rem;
}

.textoverde {
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
    color: #56B280;
}

.texto {
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
}

.textocinza {
    font-weight: 500;
    font-family: Roboto, Helvetica, sans-serif;
    color: #616161;
}

.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    border: .05rem solid #56B28033;
    border-radius: .4rem;
    padding: 1.3rem 1.6rem ;
    white-space: nowrap;
    font-size: 0.9rem;
}

.caixacontato{
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contato{
    gap: 1rem;
    display: flex;
}

.caixaship{
    display: flex;
    justify-content:space-around;
    gap: .6rem;
}

.ship{
    gap: 1rem;
    display: flex;
}

.titulo{
    font-size: 1.3rem;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 500;
    padding: 2rem 0rem 1rem;
}

.caixashipping{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border: .05rem solid #56B28033;
    border-radius: .4rem;
    padding: 1.3rem 1.1rem ;
    white-space: nowrap;
    font-size: 0.9rem;
    justify-content: space-between;
}

.standardshipping{
    display: flex;
    justify-content:space-around;
    gap: .6rem;
}

.free{
    font-weight: 600;
}

.botões{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 13.95rem;
}

.back{
    color: #56B280;
    text-decoration: underline;
    font-size: 1.2rem;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 400;
}

.botãopayment {
    text-decoration: none;
    background-color: #56B280;
    color: #ffffff;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: .5rem 3rem;
}

.payment{
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto, Helvetica, sans-serif;;
}

.direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0rem 19rem 0rem 4rem;
    gap: 1rem;
}

.descriçãoproduto {
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    padding-bottom: 1.5rem;
}

.produto {
    width: auto;
    height: 7rem;
}
 .quantidadeproduto{
    position: absolute;
 }

.produtoimg{
    background-color: #ffffff;
    position: relative;
}

.infoproduto {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
}

.nomeproduto {
    width: 20rem;
    font-family: Poppins, Roboto, Helvetica, sans-serif;
    font-weight: 500;
}

.preçoverde {
    font-family: Poppins, Roboto, Helvetica, sans-serif;
    font-weight: 600;
    color: #56B280;
    font-size: 1.3rem;
}
 
.coupon {
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
    display: flex;
    gap: .5rem;
    justify-content: space-around;
    padding: 0.5rem 0rem 0.5rem;
}

.textocoupon {
    width: 100%;
}

.botãocode {
    background-color: #A8A8A8;
    color: #ffffff;
    padding: .6rem 1.5rem;
    border: none;
    border-radius: .2rem;
    cursor: pointer;
    white-space: nowrap;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.infofinais{
    border-bottom: 1px solid rgba(86, 178, 128, 0.2);
    padding: .2rem 0rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: .9rem;
    color: #616161;
}
.infopreço{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto, Helvetica, sans-serif;
}

.preço{
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
}

.partefinal{
    display: flex;
    justify-content: space-between;
}

.preçofinal{
    font-weight: 600;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background: linear-gradient(to right, #ffffff 50%, #F2F2F2 50%);
    height: 100vh;
    margin: 0;
    padding: 0;
}
